/*NORMAL*/
@media (max-width: 1201px) {
    .menu {
        flex-direction: column;
        align-items: center;
        position: static;
    }
    .menu ul {
        flex-direction: row;
    }
    .menu a {
        padding: 0.7rem 0.7rem;
        margin: 0 3px;
    }

    /*COURSES - FLEX GRID*/

    .flex-grid .row {
        grid-template-columns: repeat(2, 1fr);
    } 

    #blog_showcase .showcase-container {
        align-items: center;
        height: 3rem;
    }

    /*C0NTACT*/

    .container {
        max-width: 1280px;
        padding: 2rem 1.5rem;
        margin: auto;
        overflow: hidden; }

    /*FOOTER*/

    .footer-container {
        margin: auto;
        overflow: hidden;
        padding: 2rem 4rem;
    }
}

/*LANDSCAPE*/
@media only screen and (max-height: 768px) {
    .menu {
        position: static;
    }
}

/*SMARTPHONES*/
/* @media (max-width: 500px) {
    .menu {
        position: static;
    }
} */

/*TABLET*/
@media (max-width: 768px) {

    .menu {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        height: 70px;
    }
    .navbar .toggler {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 3;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    .navbar .hamburger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: var(--light-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*HAMBURGER LINE*/

    .navbar .hamburger > div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2.5px;
        background: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }

    /*HAMBURGER LINES - TOP & BOTTOM*/

    .navbar .hamburger > div::before,
    .navbar .hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2.5px;
        background: inherit;
    }

    .navbar .hamburger > div::after {
        top: 10px;
    }

     /*TOGGLER ANIMATION*/

     .navbar .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }

    /*TURNS LINES INTO X*/

    .navbar .toggler:checked + .hamburger > div::before,
    .navbar .toggler:checked + .hamburger > div::after {
        top: 0;
        transform: rotate(90deg);
    }

    /*ROTATE ON HOVER WHEN CHECKED*/

    .navbar .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }

    /*SHOW MENU*/

    .navbar .toggler:checked ~ .menu {
        visibility: visible;
    }

    .navbar .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }

    .navbar .toggler:checked ~ .menu > div > div {
        opacity: 1;
    }

    /*LINKS DEL MENU HAMBURGUESA*/

    .navbar .menu ul{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* visibility: hidden; */
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .navbar .menu > div {
        position: fixed;
        background: var(--dark-color);
        /* border-radius: 50%; */
        width: 100%;
        height: 100%;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .navbar .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .navbar .menu > div > div > ul > li {
        color: #fff;
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .navbar .menu > div > div > ul > li > a {
        color: inherit;
        transition: color 0.4s ease;
    }

    .navbar .menu > div > div > ul > li > a:hover {
        color: var(--secondary-color);
    }

    /*COURSES - FLEX GRID*/

    .flex-grid .row {
        grid-template-columns: 1fr;
    }   


    /* BLOG */
    #blog_showcase .showcase-container {
        align-items: center;
        height: 10rem;
    }

    #blog_showcase .showcase-container h2{
        margin-top: 5rem;
        text-align: center;
    }

    #blogs .blogs-container {
        grid-template-columns: 1fr;
    }

    /*ABOUT PAGE GRID CONTAINER*/

    .page-container {
        grid-template-columns: 1fr;
        margin: 4rem 0;
        text-align: center;
    }

    .page-container > *:first-child {
        grid-row: 1;
    }

    .l-heading {
        font-size: 2rem;
    }
    
    /*C0NTACT*/

    #contact-a .text-fields {
        grid-template-areas: 'name' 'subject' 'email' 'phone' 'message'; }
    
    #contact-b .contact-info,.items {
          grid-template-columns: 1fr; }

    #contact-b div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px #555 solid; }
    
    #contact-b div:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0; }

    #contact-c h1 {
        font-size: 2rem; }

    /* FOOTER */

    #footer .footer-content {
        grid-template-columns: 1fr;
    }

    
    #footer .footer-content > *:last-child{
        grid-column: 1;
    }

    #footer .footer-content > *:first-child,
    #footer .footer-content > *:nth-child(2),
    #footer .footer-content > *:nth-child(3){
        border-bottom: #444 dotted 1px;
        padding-bottom: 1rem;
    }

}

